*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

body{
    background:#7AE8AB;
}

/*Styles Login*/

.header .logo-adopt{
   margin-left: 85%;
    width: 15%;
}

.user {
    width: 100px;
    height: 80px;
    margin-left:60%;
 
}
.password{
    width: 100px;
    height: 80px;
    margin-left:60%;
}
 .form{   
    display: flexbox;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 75%;
} 
.user-placeholder{
    border: none;
    outline:none;
     background-color:#7AE8AB;
     margin-left: 70%;
}
.password-placeholder{

    border: none;
    outline:none;
    background-color:#7AE8AB;
    margin-left: 70%;
}

.user-placeholder::placeholder{
    color: white; 
    font-size: 15px;
}

.password-placeholder::placeholder { 
    color: white; 
}

#buttonLogin{
    color:white;
    background: #7AE8AB;
    border: none;
    font-size: 20px;
    height: 40%;
    margin-left:70%;
    cursor: pointer;
}
#buttonLogin:hover{
    color: #4285F4;
    background: white;
    border-radius: 15px;
    width: 250px;
    height: 28px;
}
#Gmail{
   color: white;
    border: none;
    background: #7AE8AB;
    margin-left:70%;
    cursor:pointer;

}
#Gmail:hover{
 background:#4285F4;
 border-radius: 15px;
    width: 250px;
    height: 28px;

}
.dogs-home{
    margin-left: 78%;
    width: 25%;
    height: 40%;
}


@media screen and (max-width:320px){
body{
    background: #00FFB1;
}
.items-login{
    margin-right: 65%;
}

}
@media screen and (max-width:480px){
    body{
        background: #00FFB1;
    }
     .items-login{
        margin-right: 100%;
    } 
    
}


@media screen and (max-width:768px){
   
    

}


@media screen and (max-width:1024px){
}